/* Variables */
:root {
	--main: rgb(227, 79, 63);
	--main-border: rgb(174, 56, 42);
	--dark: black;
	--light: white;
	--table: grey;
	--alert: orange;
	--html: rgb(28, 28, 28);
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem; /* 16px */
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 0.01em;
	margin: 0 auto;
	scroll-behavior: smooth;
	background-color: var(--html);
}

body {
	min-width: 320px;
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

.header-container,
.footer-container {
	width: 100%;
	padding: 0.7em;
	color: var(--light);
	background-color: var(--main);
	max-height: 5svh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo img {
	width: clamp(5rem, 7vw, 15rem);
	background-color: var(--light);
	padding: 0.1em 0.5em;
	border-radius: 0.5em;
}
.nav-container ul {
	display: flex;
}

.nav-container ul li {
	margin: 0 1em;
}

.nav-container ul li a,
#dark {
	font-size: clamp(1rem, 2.2vw, 2rem);
	cursor: pointer;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	min-height: 90svh;
	padding: 0.7em;
	color: var(--dark);
	background-color: var(--light);
}

h1.title {
	text-align: center;
	font-size: clamp(1.8rem, 5vw, 3rem);
	font-weight: 700;
	margin-top: 1.8rem;
	margin-bottom: 1rem;
}

h3 {
	font-size: clamp(1.2rem, 2.8vw, 2.2rem);
	font-weight: 700;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

h4 {
	font-size: clamp(1rem, 2.2vw, 1.8rem);
	margin-bottom: 1em;
}

#colors,
label {
	font-size: clamp(1em, 3vw, 1.5em);
}

.img-hero-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.img-hero {
	width: 100%;
	margin: 2rem auto;
}

.img-gallery {
	width: 30%;
	margin: 0.3rem auto;
}

.gallery-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 2rem;
}

.about-container p {
	font-size: clamp(1em, 3vw, 1.5em);
	text-align: center;
}

.location-table tr,
.tossers-table,
td,
th {
	padding: 0.5em;
	text-align: center;
	border: 2px solid var(--table);
}

.location-table th {
	font-size: clamp(1em, 3vw, 1.5em);
	font-weight: 700;
	color: var(--light);
	background-color: var(--main);
}

.tossers-table {
	margin-bottom: 2rem;
}

#table-head th,
#hours-table-head th,
#tossers-table-head th {
	font-size: clamp(0.93em, 2.2vw, 2em);
	font-weight: 700;
	color: var(--light);
	background-color: var(--main);
	border: 2px solid var(--main-border);
}

table tr td,
table tr td,
table tr td {
	font-size: clamp(0.93em, 2.2vw, 2em);
}

#hours-table-foot,
#tossers-table-foot {
	font-weight: 700;
}

.footer-container {
	font-size: clamp(0.93em, 3vw, 1.5em);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	color: var(--light);
	padding: 0.3em;
	min-height: 9em;
}

.footer-container .line-one {
	display: flex;
	justify-content: center;
}

.footer-container .line-one p,
.footer-container .line-two p {
	text-align: center;
	width: auto;
}
.footer-container .line-three a {
	width: 100%;
	text-align: center;
}
